body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    text-align: center;
    color: #333;
}

#instructions {
    margin-bottom: 20px;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #0074d9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

#csvFileInput {
    display: block;
    margin: 10px auto;
}

#acceptedBarcodes {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

#acceptedBarcodes h2 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

.hidden {
    display: none;
}

#cameraPreview {
    text-align: center;
}

#videoElement {
    width: 100%;
    max-width: 400px;
}

#scanResult {
    text-align: center;
    margin-top: 20px;
}

#scanText {
    font-size: 18px;
    color: #333;
}
